.over{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 480px;
    width: 480px;
    min-height: 100%;
    height: 100%;
    padding: 24px;
    background: #181818;
    z-index: 80
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 30px;
}

.headerTitle {
    color: #FFF;
    font-family: 'Inter';
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.headerClose{
    color: #FFF;
font-family: 'Inter';
font-size: 2.6rem;
font-style: normal;
font-weight: 500;
line-height: normal;
cursor:pointer;
}
.headerClose:hover{
    scale: 1.2
}

.itemList{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 205.5px);
    overflow-y: auto;
}

.item{
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
    width: 100%;
    align-items: center;
}

.itemImg{
    width: 60px;
    height: 60px;
    background-color: #181818;
    margin-right: 20px;
}

.itemPart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.itemPart1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;   
}
.itemPart2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
    justify-content: space-between;
    padding-right: 8px;
}

.itemName{
    color: #FFF;
font-family: 'Inter';
font-size: 2rem;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-right: 20px;
display: flex;
flex-direction: row;
align-items: center;
}

.operator{
    color: #FFF;
    font-family: 'Inter';
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 8px;
    margin-left: 8px;
    cursor: pointer;
}

.itemPrice{
    color: #FFF;
font-family: 'Inter';
font-size: 2rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.itemRemove{
    color: #FFF;
font-family: 'Inter';
font-size: 1.8rem;
font-style: normal;
font-weight: 300;
line-height: normal;
cursor: pointer;
text-decoration: underline;
}

.footer{
    position: absolute;
    background-color: #181818;
    z-index: 10;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.subtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 100%;
}

.subtotalTitle{
    color: #FFF;
font-family: 'Inter';
font-size: 2.2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.subtotalValue{
    color: #FFF;
font-family: 'Inter';
font-size: 2.2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.checkoutButton{
    background-color: #3D86DD;
    height: 45px;
    border: none;
    border-radius: 4px;
    color: #FFF;
font-family: 'Inter';
font-size: 2.2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

    .modalOver{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: rgba(83, 83, 83, 0.50);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 90;
    }

.modalContainer{
    background-color: #FFF;
    width: 500px;
    height: 200px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px 20px 40px;
    z-index: 100;
}

.modalLabel{
    color: #000;
font-family: 'Inter';
font-size: 1.6rem;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-bottom: 8px;
}
.modalInput{
    background: #F1F1F1;
    border: none;
    min-height: 35px;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 12px;
    padding: 0px 16px;
    outline: none;
}

.modalButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
}

.modalCancelBtn{
    width: 120px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #9D9D9D;
    background: #FFF;
    color: #9D9D9D;
    font-family: 'Inter';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalCancelBtn:hover{
    border-color: #525252;
    color: #525252;
    background-color: #FFF;
}

.modalConfirmBtn{
    width: 120px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    background: #3D86DD;
    color: #FFF;
    font-family: 'Inter';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalCreate:hover{
    background-color: #2147ad;
}
.cupom{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 16px;
}

.cupomTitle{
    color: #FFF;
font-family: 'Inter';
font-size: 1.8rem;
font-style: normal;
font-weight: 300;
line-height: normal;
cursor: pointer;
}

.cupomTitle:hover{
    color:#f7f7f7;
    scale: 1.05;
    text-decoration: underline;
}

.cupomDiscount{
    color: #FFF;
    font-family: 'Inter';
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;    
}